* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', cursive;
    color: blue;
    font-weight: bold;
}

.HEADER {
    width: 100vw;
    height: 100px;
    background-color: aquamarine;
    border-bottom: 5px solid lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    box-sizing: border-box;
    position: fixed;
}

#HEADERKIRI {
    font-size: 2rem;
    font-family: 'Times New Roman', cursive;
    text-decoration: none;
    color: rgb(255, 166, 0);
}

#HEADERKANAN1 {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 166, 0);
}

#HEADERKANAN2 {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 166, 0);
}

#HEADERKANAN3 {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 166, 0);
}

.KONTEN {
    padding: 20rem;
    background-color: aliceblue;
}

#WELCOME {
    font-size: 5rem;
    text-align: center;
    color: rgb(117, 11, 255);
    animation: Animasi1 ease-out 2s;
}

#NAMA {
    font-size: 5rem;
    text-align: center;
    color: rgb(8, 209, 142);
    animation: Animasi2 ease-in 2s;
}

.FOOTER {
    background-color: slategrey;
    padding: 25px;
}

.FOOTER p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(5, 90, 71);
}

@keyframes Animasi1 {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Animasi2 {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}